<footer>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
      <div class="navbar-nav mx-auto">
        <a href=" " class="nav-item nav-link" href="#">About Us</a>
        <a href=" " class="nav-item nav-link" href="#">Support</a>
        <a href=" " class="nav-item nav-link" href="#">Blog</a>
        <a href=" " class="nav-item nav-link" href="#">Press</a>
        <a href=" " class="nav-item nav-link" href="#">API</a>
        <a href=" " class="nav-item nav-link" href="#">Job</a>
        <a href=" " class="nav-item nav-link" href="#">Privacy</a>
        <a href=" " class="nav-item nav-link" href="#">Terms</a>
        <a href=" " class="nav-item nav-link" href="#">Directory</a>
        <a href=" " class="nav-item nav-link" href="#">Language</a>
      </div>
    </div>
  </nav>
</footer>